h1,
h2 {
  text-align: center;
}

h2 {
  background-color: lightcoral;
}

ul li {
  color: lightseagreen;
}

img {
  width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.recipe {
  display: flex;
}

.ingredients {
  margin-right: 200px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 25px;
}

.steps {

}

a {
  display: block;
  text-align: center;
  margin-top: 50px;
}